.App {
  margin: 20px auto;
  padding: 20px;
  width: 400px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

input {
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.task-text {
  flex-grow: 1;
  margin-right: 10px;
  text-align: left;
}

.addButton, .filterButton, .deleteButton, .editButton {
  padding: 8px;
  cursor: pointer;
  margin: 2px;
}

.addButton {
  background-color: green;
  color: white;
}

.deleteButton {
  background-color: red;
  color: white;
}

.filterButton {
  padding: 5px;
  background-color: lightgray;
  color: black;
}

.filterButton.active {
  background-color: rgb(89, 211, 87);
  color: white;
}
